<launch>
    <remap from="primary_navigation" to="true_nav/pose" />

    <!--Simulation-->
    <node pkg="underwater_vehicle_sim" type="underwater_vehicle_sim_node" name="vehicle_sim" ns="v1" output="screen">
        <rosparam param="sim_hertz">10</rosparam>
        <rosparam param="start_x">0</rosparam>
        <rosparam param="start_y">0</rosparam>

        <rosparam param="start_z">100</rosparam>
        <rosparam param="evect_by_currents">true</rosparam>
        <rosparam param="local_model">true</rosparam>

        <rosparam param="propulsion_type">FourDOFPropulsion</rosparam>
        <rosparam param="thrust_random_error">0.1</rosparam>
        <rosparam param="propulsion_hertz">10</rosparam>
        <rosparam param="forward_thruster_thrust">[-100, -75, -50, -25, 0, 25, 50, 75, 100]</rosparam>
        <rosparam param="forward_thruster_velocity">[-1.40625, -1.3125, -1.125, -0.75, 0, 0.75, 1.125, 1.3125, 1.40625]</rosparam>
        <rosparam param="lateral_thruster_thrust">[-100, -75, -50, -25, 0, 25, 50, 75, 100]</rosparam>
        <rosparam param="lateral_thruster_velocity">[-1.40625, -1.3125, -1.125, -0.75, 0, 0.75, 1.125, 1.3125, 1.40625]</rosparam>
        <rosparam param="vertical_thruster_thrust">[-100, -75, -50, -25, 0, 25, 50, 75, 100]</rosparam>
        <rosparam param="vertical_thruster_velocity">[-1.40625, -1.3125, -1.125, -0.75, 0, 0.75, 1.125, 1.3125, 1.40625]</rosparam>
        <rosparam param="rudder_angle">[-45,0,45]</rosparam>
        <rosparam param="rudder_velocity">[-0.349066,0,0.349066]</rosparam>

        <rosparam param="moduleNames">[data_broadcaster, imu, depth, usbl, dvl]</rosparam>

        <rosparam param="data_broadcaster/type">DataBroadcaster</rosparam>
        <rosparam param="data_broadcaster/hertz">2.5</rosparam>

        <rosparam param="imu/type">IMU</rosparam>
        <rosparam param="imu/angular_velocity_random_error">0</rosparam>
        <rosparam param="imu/angular_velocity_bias_error">[0.0,0.0,0]</rosparam>
        <rosparam param="imu/angular_velocity_active">false</rosparam>

        <rosparam param="imu/heading_random_error">0.0349066</rosparam>
        <rosparam param="imu/heading_bias_error">0</rosparam>
        <rosparam param="imu/heading_active">true</rosparam>
        <rosparam param="imu/roll_pitch_random_error">0</rosparam>
        <rosparam param="imu/roll_bias_error">0</rosparam>
        <rosparam param="imu/pitch_bias_error">0</rosparam>
        <rosparam param="imu/hertz">10</rosparam>

        <rosparam param="dvl/type">DVL</rosparam>
        <rosparam param="dvl/water_velocity_percent_error">0.02</rosparam> <!--Percent of velocity measurment-->
        <rosparam param="dvl/water_velocity_random_error">0.002</rosparam> <!--m/s-->
        <rosparam param="dvl/bottom_velocity_percent_error">0.02</rosparam> <!--Percent of velocity measurment-->
        <rosparam param="dvl/bottom_velocity_random_error">0.002</rosparam> <!--m/s-->
        <rosparam param="dvl/hertz">5</rosparam>

        <rosparam param="depth/type">Depth</rosparam>
        <rosparam param="depth/depth_random_error">0.1</rosparam> <!--meters-->
        <rosparam param="depth/depth_bias_error">0.1</rosparam>
        <rosparam param="depth/hertz">2.5</rosparam>

        <rosparam param="usbl/type">USBL</rosparam>
        <rosparam param="usbl/bearing_random_error">0</rosparam>
        <rosparam param="usbl/bearing_bias_error">0</rosparam>
        <rosparam param="usbl/range_random_error">0.05</rosparam> <!--Percent of range measurment-->
        <rosparam param="usbl/range_bias_error">0.05</rosparam> <!--Percent of range measurment-->
        <rosparam param="usbl/valid_bearing_distance">1000</rosparam>
        <rosparam param="usbl/valid_range_distance">20000</rosparam>
        <rosparam param="usbl/bad_range_probability">0</rosparam>
        <rosparam param="usbl/bad_range_error">5000</rosparam>
        <rosparam param="usbl/beacon_x">0</rosparam>
        <rosparam param="usbl/beacon_y">0</rosparam>
        <rosparam param="usbl/beacon_z">0</rosparam>
        <rosparam param="usbl/hertz">0.03333333333</rosparam>
    </node>

    <!--High Level Control-->
    <node pkg="propulsion_controller" type="four_dof_propulsion_control_node" name="controller" ns="v1">
        <param name="use_pid" value="false"/>
        <rosparam param="forward_thruster_thrust">[-100, -75, -50, -25, 0, 25, 50, 75, 100]</rosparam>
        <rosparam param="forward_thruster_velocity">[-1.40625, -1.3125, -1.125, -0.75, 0, 0.75, 1.125, 1.3125, 1.40625]</rosparam>
        <rosparam param="vertical_thruster_thrust">[-100, -75, -50, -25, 0, 25, 50, 75, 100]</rosparam>
        <rosparam param="vertical_thruster_velocity">[-1.40625, -1.3125, -1.125, -0.75, 0, 0.75, 1.125, 1.3125, 1.40625]</rosparam>
        <rosparam param="rudder_angle">[-45,0,45]</rosparam>
        <rosparam param="rudder_velocity">[-0.349066,0,0.349066]</rosparam>

        <remap from="get_state" to="get_propulsion_state" />
        <remap from="state" to="prop_state" />
    </node>

    <!--Navigation-->
    <node pkg="ros_sim_autonomy_interface" type="ros_sim_true_navigation_node" name="ros_sim_true_navigation" ns="v1">
        <rosparam param="hertz">5</rosparam>
    </node>

    <node pkg="ros_sim_autonomy_interface" type="ros_sim_sb_navigation_node" name="ros_sim_sb_navigation" ns="v1" output="screen">
        <rosparam param="hertz">5</rosparam>
        <param name="config_file" value="$(dirname)/filter_params/non_linear_filter_params_12.toml"/>
    </node>


    <!--Autonomy-->
    <node pkg="ros_sim_autonomy_interface" type="ros_sim_plan_server_node" name="ros_sim_plan_server" ns="v1" output="screen">
        <param name="planner_config_file" value="$(dirname)/planner_params/non_linear_filter_waypoints_12.toml"/>
        <rosparam param="fail_time">2764800</rosparam>
        <rosparam param="cancel_timeout">60</rosparam>
        <rosparam param="hertz">1</rosparam>
    </node>

    <param name="use_sim_time" value="true" />
    <rosparam param="speed_up_factor">50</rosparam>
    <rosparam param="sim_start_time">2592000</rosparam>


    <rosparam param="model_type">constant</rosparam>
    <rosparam param="model/depth">200</rosparam>
    <rosparam param="model/u">0</rosparam>
    <rosparam param="model/v">0</rosparam>

<!--
    <rosparam param="model_type">fvcom</rosparam>
    <rosparam param="model/fvcom_directory" subst_value="True">/home/dev/proj/axial/</rosparam>
-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="ned_publisher" args="0 0 0 1.57079632679 0 3.14159265359 world world_ned"/>
    <node pkg="underwater_vehicle_sim" type="clock_server_node" name="clock_server" output="screen"/>
</launch>