<launch>

 <rosparam param="underwater_vehicle_sim/hertz">10</rosparam>

 <rosparam param="vehicles/names">[v1]</rosparam>

 <rosparam param="vehicles/v1/start_x">-1054.18858199</rosparam>
 <rosparam param="vehicles/v1/start_y">-1432.16016854</rosparam>

<!--
 <rosparam param="vehicles/v1/start_x">709.437145637</rosparam>
 <rosparam param="vehicles/v1/start_y">-29336.8997018</rosparam>
-->

 <rosparam param="vehicles/v1/start_z">0</rosparam>


 <rosparam param="vehicles/v1/propModuleName">prop_v1</rosparam>
 <rosparam param="vehicles/v1/prop_v1/type">FourDOFPropulsion</rosparam>
 <rosparam param="vehicles/v1/moduleNames">[data_broadcaster]</rosparam>
 <rosparam param="vehicles/v1/data_broadcaster/type">DataBroadcaster</rosparam>
 <rosparam param="vehicles/v1/data_broadcaster/hertz">1</rosparam>

 <param name="use_sim_time" value="true" />
 <rosparam param="speed_up_factor">400</rosparam>
 <rosparam param="sim_start_time">2592000</rosparam>

 <rosparam param="model_type">fvcom</rosparam>
 <rosparam param="model/fvcom_directory" subst_value="True">/Users/branch/projs/ocean_worlds/models/axial</rosparam>

 <rosparam param="vehicle_controller/hertz">2</rosparam>

 <rosparam param="planner/type">SurfaceGradient</rosparam>
 <rosparam param="planner/hertz">0.1</rosparam>
 <rosparam param="planner/spiral_spacing">5000</rosparam>
 <rosparam param="planner/fail_time">5011200</rosparam>

 <rosparam param="planner/detection_threshold">0.5</rosparam>
 <rosparam param="planner/gradient_radius">5000</rosparam>

 <rosparam param="planner/gradient_threshold">0</rosparam>
 <rosparam param="planner/gradient_window">2000</rosparam>
 <rosparam param="planner/min_follow_distance">2000</rosparam>
 <rosparam param="planner/max_follow_distance">10000</rosparam>

 <node pkg="planner_log" type="logger.py" name="planner_log"/>
 <node pkg="underwater_vehicle_sim" type="clock_server_node" name="clock_server" output="screen"/>
 <node pkg="underwater_vehicle_sim" type="underwater_vehicle_sim_node" name="underwater_vehicle_sim" output="screen"/>
 <node pkg="model_server" type="model_server_node" name="model_server" output="screen"/>
 <node pkg="data_server" type="data_server_node" name="data_server" output="screen"/>

 <node pkg="vehicle_auto_control" type="vehicle_auto_control_node" name="vehicle_auto_control" output="screen"/>
 <node pkg="ros_sim_autonomy_interface" type="ros_sim_plan_server_node" name="ros_sim_plan_server" output="screen"/>

</launch>