<launch>
    <!--Simulation-->
    <node pkg="underwater_vehicle_sim" type="underwater_vehicle_sim_node" name="vehicle_sim" ns="v1" output="screen">
        <rosparam param="sim_hertz">1000</rosparam>
        <rosparam param="start_x">0</rosparam>
        <rosparam param="start_y">0</rosparam>

        <rosparam param="start_z">0</rosparam>
        <rosparam param="evect_by_currents">false</rosparam>

        <rosparam param="local_model">true</rosparam>

        <rosparam param="propulsion_type">FourDOFPropulsion</rosparam>

        <rosparam param="forward_thruster_thrust">[-100, -75, -50, -25, 0, 25, 50, 75, 100]</rosparam>
        <rosparam param="forward_thruster_velocity">[-1.40625, -1.3125, -1.125, -0.75, 0, 0.75, 1.125, 1.3125, 1.40625]</rosparam>
        <rosparam param="lateral_thruster_thrust">[-100, -75, -50, -25, 0, 25, 50, 75, 100]</rosparam>
        <rosparam param="lateral_thruster_velocity">[-1.40625, -1.3125, -1.125, -0.75, 0, 0.75, 1.125, 1.3125, 1.40625]</rosparam>
        <rosparam param="vertical_thruster_thrust">[-100, -75, -50, -25, 0, 25, 50, 75, 100]</rosparam>
        <rosparam param="vertical_thruster_velocity">[-1.40625, -1.3125, -1.125, -0.75, 0, 0.75, 1.125, 1.3125, 1.40625]</rosparam>
        <rosparam param="rudder_angle">[-45,0,45]</rosparam>
        <rosparam param="rudder_velocity">[-0.349066,0,0.349066]</rosparam>

        <rosparam param="moduleNames">[data_broadcaster]</rosparam>
      <rosparam param="data_broadcaster/type">DataBroadcaster</rosparam>
        <rosparam param="data_broadcaster/hertz">500</rosparam>
     <!-->
        <rosparam param="imu/type">IMU</rosparam>
        <rosparam param="imu/angular_velocity_variance">0.002</rosparam>
        <rosparam param="imu/heading_variance">0.009</rosparam>
        <rosparam param="imu/tilt_variance">0.02</rosparam>
        <rosparam param="imu/hertz">10</rosparam>
        -->
    </node>
   
    <param name="use_sim_time" value="true" />
    <rosparam param="speed_up_factor">1</rosparam>
    <rosparam param="sim_start_time">2592000</rosparam>

    <rosparam param="model_type">constant</rosparam>
    <rosparam param="model/depth">200</rosparam>
    <rosparam param="model/u">0</rosparam>
    <rosparam param="model/v">-0.25</rosparam>

    <node pkg="tf2_ros" type="static_transform_publisher" name="ned_publisher" args="0 0 0 1.57079632679 0 3.14159265359 world world_ned"/>
    <node pkg="underwater_vehicle_sim" type="clock_server_node" name="clock_server" output="screen"/>
  <!-->
    <node pkg="model_server" type="model_server_node" name="model_server" output="screen"/> 
-->
</launch>