<launch>
 <rosparam param="vehicles/names">[v1]</rosparam>

 <rosparam param="vehicles/v1/start_x">0</rosparam>
 <rosparam param="vehicles/v1/start_y">0</rosparam>
 <rosparam param="vehicles/v1/start_z">0</rosparam>


 <rosparam param="vehicles/v1/propModuleName">prop_v1</rosparam>
 <rosparam param="vehicles/v1/prop_v1/type">FourDOFPropulsion</rosparam>
 <rosparam param="vehicles/v1/moduleNames">[data_broadcaster]</rosparam>
 <rosparam param="vehicles/v1/data_recorder/type">DataBroadcaster</rosparam>
 <rosparam param="vehicles/v1/data_recorder/hertz">0.5</rosparam>

 <param name="use_sim_time" value="true" />
 <rosparam param="speed_up_factor">100</rosparam>
 <rosparam param="sim_start_time">1728000</rosparam>

 <rosparam param="model_type">fvcom</rosparam>
 <rosparam param="model/fvcom_directory" subst_value="True">/home/branch/proj/ocean_worlds/models/axial_output</rosparam>

 <rosparam param="vehicle_controller/hertz">1</rosparam>

 <rosparam param="planner/hertz">0.5</rosparam>

 <node pkg="underwater_vehicle_sim" type="clock_server_node" name="clock_server"/>
 <node pkg="underwater_vehicle_sim" type="underwater_vehicle_sim_node" name="underwater_vehicle_sim" output="screen"/>
 <node pkg="model_server" type="model_server_node" name="model_server" output="screen"/>
 <node pkg="data_server" type="data_server_node" name="data_server"/>

 <node pkg="vehicle_auto_control" type="vehicle_auto_control_node" name="vehicle_auto_control" output="screen"/> 
 <node pkg="vent_planner" type="vent_planner_node" name="vent_planner" output="screen"/>
</launch>
